
#container {
    border: 1px solid;
    height: 900px;
    margin-top: 50px;
    width: 960px;
}

div {
    display: inline-block;
    vertical-align: top;
}

body {
    text-align: center;
    margin: 0 0;
    padding: 0;
}
